/* Base styles */

body {
    background: azure;
    min-width: 480px;
    color: #333;
}

#container {
    width: 90%;
    margin: 0 auto;
}


/* Header */

header {
    background: hotpink;
    padding-top: 1em;
}

header nav {
    overflow: hidden;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    left: 50%;
}

header nav ul li {
    float: left;
    position: relative;
    right: 50%;
    margin-left: 0.25em;
    background: #ddd;
}

header nav a {
    display: block;
    padding: 1em;
    color: #fff;
    text-decoration: none;
}

header nav a:hover {
    background: rgba(200, 200, 200, 0.7);
    color: #000;
}


/* STEP 1: Persistent navigation styles (add the class "floater" to the NAV element to preview) */

header nav.floater {
    position: fixed;
    top: 0;
    width: 90%;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
}

header nav.floater ul li {
    background-color: transparent;
}

header nav.floater ul li a {
    padding: 1em 0.5em;
    /*margin: 0;*/
}


/* Content */

div#content {
    background: white;
    clear: both;
    line-height: 1.4;
    padding: 1em 0;
}

div#content p {
    margin-top: 0;
}

div#content blockquote {}


/* Header typography */

header h1 {
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 400%;
    margin: 0.5em;
    text-shadow: 3px 3px 0 #333;
    letter-spacing: -0.1em;
    text-align: center;
}

header h1 a {
    color: white;
    text-decoration: none;
}


/* STEP 4 - pullquote styles */


/* Pullquotes */

.pullquote2 {
    display: block;
    float: right;
    padding: 0 0 0 20px;
    margin: 0 0 10px 10px;
    width: 20%;
    font-size: 1.5em;
    line-height: 1.4em;
    text-align: right;
    color: #666;
    border-left: 3px solid #ccc;
    /*background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 100px black;*/
}


/* STEP 5 - leading quotation marks */

.pullquote2:before {
    display: block;
    content: "\201C";
    font-size: 120px;
    float: left;
    position: relative;
    top: 0.2em;
    color: #7a7a7a;
}

footer {
    /* base styles */
    background: hotpink;
    padding: 1em;
}

footer h3 {
    /* base styles */
    margin: 0;
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 200%;
    margin: 0.5em;
    color: white;
    text-shadow: 3px 3px 0 #333;
    letter-spacing: -0.05em;
    text-align: center;
}

footer p {
    font-size: 50%;
    text-align: center;
}

footer a {
    color: black;
}

footer p a.top {
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
    background: black;
    background: rgba(0, 0, 0, 0.3);
    width: 30%;
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: none;
}


/* STEP 6b - sticky footer button styles */